In [1]:
# Importing required Libraries-

import numpy as np # for arrays and computation purpose
import pandas as pd # for dataframes

## 1. Creation of User-Item Rating Data - "R" Matrix

In [2]:
# User - Items Rating -- First Matrix R will be created using this data

df_ua = pd.read_table("hetrec2011-lastfm-2k/user_artists.dat")

df_ua.head(20)

# we will consider userID as our users
# We will consider artistId as our items
# weight -> how many times a user listened artistID (item) , so we will convert into rating as most listened song as highest rated

    userID  artistID  weight
0        2        51   13883
1        2        52   11690
2        2        53   11351
3        2        54   10300
4        2        55    8983
5        2        56    6152
6        2        57    5955
7        2        58    4616
8        2        59    4337
9        2        60    4147
10       2        61    3923
11       2        62    3782
12       2        63    3735
13       2        64    3644
14       2        65    3579
15       2        66    3312
16       2        67    3301
17       2        68    2927
18       2        69    2720
19       2        70    2686

In [3]:
# collecting information from this data

print("Number of unique users--", df_ua['userID'].nunique()) ## This feature is our user
print("Number of unique items--",df_ua['artistID'].nunique()) ## This is our Items value
print("Number of unique weight value--",df_ua['weight'].nunique()) ## This can be used to determine rating like more weighted value is more rating

print("Maximum value in weight column--",df_ua['weight'].min())
print("Minimum value in weight column--",df_ua['weight'].max())

Number of unique users-- 1892
Number of unique items-- 17632
Number of unique weight value-- 5436
Maximum value in weight column-- 1
Minimum value in weight column-- 352698

In [4]:
# function to  convert weight column into  Rated work

def partition(i):
    if i> 0:
        return 1

# Applying partition function to column name weight
df_ua['weight'] = df_ua['weight'].apply(partition) 

df_ua.head()

   userID  artistID  weight
0       2        51       1
1       2        52       1
2       2        53       1
3       2        54       1
4       2        55       1

In [5]:
# Converting the above dataframe in our Desired R matrix - users rating matrix
# I am using table in Pandas instead of Matrix
# making rows as users , columns as items and values in the matrix are Rating

R = df_ua.pivot(index = "userID" , columns = 'artistID' , values = 'weight')

R.head(100)

artistID,1,2,3,4,5,6,7,8,9,10,...,18736,18737,18738,18739,18740,18741,18742,18743,18744,18745
userID,,,,,,,,,,,,,,,,,,,,,
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
101,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
102,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
103,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
104,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
# converting the Nan values (means user didn't give rating to that item is represented as Nan) into zero values as mentioned in the paper

R =R.fillna(0)

R

artistID,1,2,3,4,5,6,7,8,9,10,...,18736,18737,18738,18739,18740,18741,18742,18743,18744,18745
userID,,,,,,,,,,,,,,,,,,,,,
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2095,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2096,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2097,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2099,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2100,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

## 2. Creation of Social Network among Users - "A" Matrix

In [7]:
# Social network infromation--   to determine vector N which contain neighbours of target user

df_uf = pd.read_table("hetrec2011-lastfm-2k/user_friends.dat")

df_uf.head()

   userID  friendID
0       2       275
1       2       428
2       2       515
3       2       761
4       2       831

In [8]:
# to convert this into our desired A matrix we need to first add a column which will represent relationship between users as 1
df_uf['relation'] =1

# to convert our data frame into desired adjacency matrix - where rows = users , column = neighbours , value = 1, if both are neighbours

A = df_uf.pivot(index = "userID" , columns = 'friendID' , values = 'relation')

# converting Nan values as 0
A  = A.fillna(0)

A

friendID,2,3,4,5,6,7,8,9,10,11,...,2090,2091,2092,2093,2094,2095,2096,2097,2099,2100
userID,,,,,,,,,,,,,,,,,,,,,
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2095,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2096,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2097,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2099,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2100,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

## 3.Creation of Feature Set of items - "M" matrix

In [9]:
# we will use this dataset to make our desired matrix
df_utt = pd.read_table("hetrec2011-lastfm-2k/user_taggedartists-timestamps.dat")

print(df_utt.head(20))

    userID  artistID  tagID      timestamp
0        2        52     13  1238536800000
1        2        52     15  1238536800000
2        2        52     18  1238536800000
3        2        52     21  1238536800000
4        2        52     41  1238536800000
5        2        63     13  1238536800000
6        2        63     14  1238536800000
7        2        63     23  1238536800000
8        2        63     40  1238536800000
9        2        73     13  1238536800000
10       2        73     14  1238536800000
11       2        73     15  1238536800000
12       2        73     18  1238536800000
13       2        73     20  1238536800000
14       2        73     21  1238536800000
15       2        73     22  1238536800000
16       2        73     26  1238536800000
17       2        94     13  1238536800000
18       2        94     15  1238536800000
19       2        94     20  1238536800000

In [10]:
# Removing unuseful columns
table = df_utt.drop(columns =['userID','timestamp'])

# creation of a new column to check whether a particular tag present in item or not
table['present'] = 1

In [11]:
table['tagID'].value_counts()

73      7503
24      5418
79      5251
18      4672
81      4458
        ...
7620       1
7748       1
5701       1
1607       1
2049       1
Name: tagID, Length: 9749, dtype: int64

In [12]:
table = table.groupby('tagID').filter(lambda x : (x['tagID'].count()>20).any())

# Removing items with less than 20 tags

In [13]:
table = table.groupby('tagID').filter(lambda x : (x['tagID'].count()<6000).any())

# Removing items with most frequent tags

In [14]:
table['tagID'].value_counts()

24      5418
79      5251
18      4672
81      4458
130     4228
        ...
4944      21
1646      21
789       21
5009      21
5076      21
Name: tagID, Length: 867, dtype: int64

In [15]:
# Coverting the above dataframe into our desired matrix with rows as items , column as feature and values as 1 or 0
M =pd.pivot_table(table, values ='present',index ='artistID',columns='tagID',aggfunc = np.max)

# Converting Nan values to 0
M  = M.fillna(0)

M

tagID,1,2,3,4,5,6,7,9,10,13,...,12208,12209,12218,12219,12220,12265,12287,12638,12639,12642
artistID,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18737,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
18739,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
18740,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
18741,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
18744,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

## Algorithm Implementation on a single user - To show all Matrices

### Important Note - Pandas Dataframes are used here so here , So it follows this-- 

### DataFrame[columns][index or row]

In [16]:
#  our Target user is u

u =2




## Step - 1 Creation of neighbor users’ item set------------------------------------------------


N = [] # Neighbour List of target user u

for i in A.columns:
    if A[i][u]==1:
        N.append(i)
print("The Neighbour list of user",u, "is given below-")
print("N :",N)

The Neighbour list of user 2 is given below-
N : [275, 428, 515, 761, 831, 909, 1209, 1210, 1230, 1327, 1585, 1625, 1869]

In [17]:


L = [] # List of items Rated by target user's neighbour

L_u = [] # List of items Rated by target user

for i in R.columns:
    for j in N:
        if R[i][j]>0:
            L.append(i)
            break
    if R[i][u] == 1:
        L_u.append(i)


# Finding cold start users - who rated less than or equal to 5 users       
if len(L_u) <= 5 :
    Cold_start_users.append(u)



#----------------------------------Test Data----------------------------------------------
# Creating Test set  - using leave one mechanism for test user

Test_Case = L_u.pop(0) # taking first item in item list rated by test user

# -----------------------------------------------------------------------------------------


print("List of items rated by neighbours of user",u ,"are given below-")       
print("L:" , L)



#----------------------------------end of step 1--------------------------------------------------

List of items rated by neighbours of user 2 are given below-
L: [7, 30, 36, 51, 55, 56, 57, 58, 59, 61, 62, 63, 65, 66, 67, 68, 69, 70, 72, 73, 75, 76, 77, 80, 84, 85, 86, 88, 89, 91, 95, 98, 99, 100, 153, 154, 155, 157, 159, 167, 170, 172, 173, 175, 182, 183, 187, 190, 191, 193, 198, 203, 207, 209, 219, 226, 227, 228, 229, 230, 234, 253, 257, 285, 288, 289, 291, 292, 293, 295, 299, 302, 306, 324, 329, 331, 377, 378, 405, 412, 424, 429, 436, 440, 446, 468, 486, 488, 497, 511, 518, 533, 535, 536, 537, 540, 576, 578, 599, 601, 627, 641, 706, 726, 732, 748, 777, 789, 864, 871, 874, 875, 877, 878, 889, 900, 903, 905, 913, 917, 945, 951, 959, 961, 972, 975, 985, 993, 994, 996, 997, 998, 999, 1000, 1001, 1004, 1005, 1006, 1009, 1013, 1014, 1015, 1017, 1018, 1019, 1027, 1028, 1044, 1061, 1062, 1072, 1073, 1075, 1076, 1083, 1099, 1104, 1106, 1116, 1122, 1179, 1186, 1187, 1239, 1242, 1246, 1306, 1375, 1390, 1394, 1405, 1406, 1412, 1413, 1414, 1416, 1427, 1463, 1464, 1475, 1627, 1709, 1713, 1714, 1721, 1743, 1762, 1772, 1783, 1790, 1793, 1795, 1800, 1810, 1820, 1825, 1826, 1827, 1843, 1860, 1878, 1881, 1884, 1885, 1886, 1889, 1891, 1892, 1895, 1899, 1907, 1914, 1943, 1950, 2018, 2027, 2029, 2048, 2179, 2308, 2343, 2469, 2488, 2490, 2524, 2526, 2531, 2532, 2535, 2552, 2554, 2556, 2559, 2562, 2567, 2571, 2608, 2627, 2639, 2664, 2835, 2936, 2937, 2961, 3104, 3201, 3258, 3270, 3280, 3281, 3285, 3291, 3302, 3307, 3313, 3367, 3427, 3462, 3481, 3503, 3505, 3562, 3617, 3691, 3768, 3832, 3863, 3920, 3921, 3966, 3988, 4079, 4130, 4155, 4156, 4308, 4313, 4348, 4379, 4616, 4649, 4732, 4919, 4928, 4976, 4978, 5000, 5045, 5072, 5088, 5097, 5098, 5099, 5254, 5255, 5258, 5260, 5428, 5452, 5609, 5614, 5617, 5985, 6065, 6073, 6128, 6161, 6176, 6297, 6350, 6708, 6714, 6732, 6740, 6742, 6764, 6776, 6777, 6778, 6779, 6780, 6781, 6784, 6785, 6790, 7054, 7068, 7157, 7347, 7626, 7661, 7662, 7663, 7664, 7665, 7666, 7667, 7668, 7669, 7670, 7671, 7672, 7673, 7674, 7675, 7676, 7874, 7927, 8308, 8582, 8790, 8816, 8853, 8995, 9255, 9685, 9734, 9858, 9859, 9860, 9861, 9862, 9863, 9888, 10017, 10130, 10176, 10182, 10461, 10462, 10463, 10464, 10465, 10466, 10467, 10468, 10469, 10983, 10984, 10985, 10986, 11146, 11338, 11339, 11455, 13151, 13152, 13153, 13154, 13155, 13156, 13157, 13158, 13159, 13160, 13161, 13231, 13305, 13306, 13307, 13308, 13309, 13310, 13311, 13312, 13313, 13314, 13315, 13316, 13317, 13318, 13319, 13320, 13321, 13322, 13323, 13324, 13325, 13326, 13327, 13328, 13329, 13330, 13331, 13332, 13333, 13334, 13335, 13336, 13337, 13338, 13900, 13901, 14395, 15449, 15450, 15451, 15452, 15453, 15454, 15663, 15664, 15665, 15666, 15667, 15668, 15669, 15670, 15671, 15672, 15673, 15674, 15675, 15676, 15677, 15678, 15679, 15680, 15681, 15682, 15683, 15684, 15685, 15686, 17275, 17276, 17277, 17278, 17279, 17280, 17281]

In [18]:
## Step - 2  Creation of User feature matrix -----------------------------------------------------

N.append(u) # Added target user to make UF

# Dataframe for user feature matrix is initialized
UF  = pd.DataFrame(index = N , columns = M.columns)
UF = UF.fillna(0)
UF.index.name = "artistID"



for i in N:
    if i != u:
        for j in L:
            if R[j][i]==1:
                for k in M.columns:
                    if(j in M.index):
                        UF[k][i] = UF[k][i] + M[k][j]
    else:
        for j in L_u:
            if R[j][i]==1:
                for k in M.columns:
                    if(j in M.index):
                        UF[k][i] = UF[k][i] + M[k][j]
        

N.pop(-1) # Removing target user from neigbours list



print("User Feature matrix - UF :" )
UF


# --------------------end of step 2-----------------------------------------------------------

User Feature matrix - UF :

tagID,1,2,3,4,5,6,7,9,10,13,...,12208,12209,12218,12219,12220,12265,12287,12638,12639,12642
artistID,,,,,,,,,,,,,,,,,,,,,
275,3,1,3,0,0,0,0,1,0,13,...,11,3,0,0,0,1,2,0,0,2
428,2,0,2,0,0,0,0,1,0,10,...,13,3,0,0,0,0,0,0,0,1
515,0,0,0,0,0,0,0,0,0,12,...,1,2,0,0,0,0,2,0,0,2
761,3,0,5,0,0,2,0,1,0,12,...,11,3,0,1,1,0,0,0,0,3
831,4,0,1,0,0,0,1,1,0,17,...,5,1,0,0,1,0,0,1,0,1
909,19,9,1,0,0,4,3,0,0,11,...,0,1,0,0,0,1,2,0,1,2
1209,1,0,1,0,0,0,0,1,0,8,...,12,1,0,0,0,0,0,0,0,0
1210,5,0,2,0,0,0,0,1,0,13,...,15,3,0,0,0,0,0,0,0,2
1230,0,0,0,0,0,0,0,0,0,7,...,0,0,0,0,0,0,0,0,0,0
1327,1,0,1,0,0,0,0,2,0,7,...,13,0,0,0,0,0,0,0,0,0
1585,4,0,2,0,1,0,0,1,0,16,...,10,0,0,0,0,1,2,0,0,0
1625,0,0,0,0,0,0,0,0,0,9,...,2,1,1,1,1,0,0,0,0,0
1869,5,2,1,0,0,2,1,1,0,13,...,4,5,0,0,0,0,1,0,0,2
2,3,0,1,0,0,0,0,1,0,28,...,5,1,0,1,1,1,1,0,0,1

In [19]:
# Step 3   Computation of user priority -------------------------------------------------------

# Dividing the row values of user feature matrix with it's row sum
for i in UF.index:
    UF.loc[i] = UF.loc[i] / UF.loc[i].sum()


print("Normalised  UF :")
UF

Normalised  UF :

tagID,1,2,3,4,5,6,7,9,10,13,...,12208,12209,12218,12219,12220,12265,12287,12638,12639,12642
artistID,,,,,,,,,,,,,,,,,,,,,
275,0.001369,0.000456,0.001369,0.0,0.000000,0.000000,0.000000,0.000456,0.0,0.005933,...,0.005021,0.001369,0.000000,0.000000,0.000000,0.000456,0.000913,0.000000,0.000000,0.000913
428,0.001001,0.000000,0.001001,0.0,0.000000,0.000000,0.000000,0.000501,0.0,0.005005,...,0.006507,0.001502,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000501
515,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.010169,...,0.000847,0.001695,0.000000,0.000000,0.000000,0.000000,0.001695,0.000000,0.000000,0.001695
761,0.001513,0.000000,0.002521,0.0,0.000000,0.001009,0.000000,0.000504,0.0,0.006051,...,0.005547,0.001513,0.000000,0.000504,0.000504,0.000000,0.000000,0.000000,0.000000,0.001513
831,0.002710,0.000000,0.000678,0.0,0.000000,0.000000,0.000678,0.000678,0.0,0.011518,...,0.003388,0.000678,0.000000,0.000000,0.000678,0.000000,0.000000,0.000678,0.000000,0.000678
909,0.008672,0.004108,0.000456,0.0,0.000000,0.001826,0.001369,0.000000,0.0,0.005021,...,0.000000,0.000456,0.000000,0.000000,0.000000,0.000456,0.000913,0.000000,0.000456,0.000913
1209,0.000664,0.000000,0.000664,0.0,0.000000,0.000000,0.000000,0.000664,0.0,0.005316,...,0.007973,0.000664,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1210,0.002001,0.000000,0.000800,0.0,0.000000,0.000000,0.000000,0.000400,0.0,0.005202,...,0.006002,0.001200,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000800
1230,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.022508,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1327,0.000613,0.000000,0.000613,0.0,0.000000,0.000000,0.000000,0.001225,0.0,0.004289,...,0.007966,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1585,0.001969,0.000000,0.000985,0.0,0.000492,0.000000,0.000000,0.000492,0.0,0.007878,...,0.004924,0.000000,0.000000,0.000000,0.000000,0.000492,0.000985,0.000000,0.000000,0.000000
1625,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.016729,...,0.003717,0.001859,0.001859,0.001859,0.001859,0.000000,0.000000,0.000000,0.000000,0.000000
1869,0.002470,0.000988,0.000494,0.0,0.000000,0.000988,0.000494,0.000494,0.0,0.006423,...,0.001976,0.002470,0.000000,0.000000,0.000000,0.000000,0.000494,0.000000,0.000000,0.000988
2,0.001666,0.000000,0.000555,0.0,0.000000,0.000000,0.000000,0.000555,0.0,0.015547,...,0.002776,0.000555,0.000000,0.000555,0.000555,0.000555,0.000555,0.000000,0.000000,0.000555

In [20]:
# Distance Calculation between profile vectors

import math
D  = pd.DataFrame(index = (u,) , columns = N , dtype = float)
D = D.fillna(0)

for j in UF.index:
    Sum =0
    if j != u:
        for i in UF.columns:
            if UF[i][u] >0: # Excluding the feature whose value is zero for target user
                Sum = Sum + (UF[i][u]-UF[i][j])**2
            
        Sum = math.sqrt(Sum)
        D[j][u]= Sum

print("Distance matrix- Distance between profile vectors of Target user and Neighbours - ")
D

Distance matrix- Distance between profile vectors of Target user and Neighbours -

,275,428,515,761,831,909,1209,1210,1230,1327,1585,1625,1869
2,0.036956,0.040628,0.051072,0.03278,0.034005,0.052893,0.049895,0.038616,0.110223,0.057692,0.032002,0.052996,0.044077

In [21]:
# Calculating  user priority using Distance -
# Computing the user priority from distance array using formula - P[i] = 1/ (1 + D[i]^k)
# As mentioned in paper k = 2 is taken

P  = pd.DataFrame(index = (u,) , columns = N , dtype = float)
P = P.fillna(0)
for i in D:
    P[i][u] = 1/ (1 + D[i][u]**2)


print("User Priority Array -")
P

# --------------------end of step 3---------------------------------------------------------

User Priority Array -

,275,428,515,761,831,909,1209,1210,1230,1327,1585,1625,1869
2,0.998636,0.998352,0.997398,0.998927,0.998845,0.99721,0.997517,0.998511,0.987997,0.996683,0.998977,0.997199,0.998061

In [22]:
# Step 4   Computation of item priority ----------------------------------------------------

P_I  = pd.DataFrame(index = ("Item Priority",) , columns = L , dtype = float)
P_I = P_I.fillna(0)

for i in L:
    Sum =0
    for j in P.columns:
        if R[i][j]>0:
            Sum = Sum  + P[j][u]     

    P_I[i]["Item Priority"] =Sum


print("Item Priority array -")
P_I

# --------------------end of step 4---------------------------------------------------------

Item Priority array -

,7,30,36,51,55,56,57,58,59,61,...,15684,15685,15686,17275,17276,17277,17278,17279,17280,17281
Item Priority,0.998061,0.998636,0.998927,7.985001,3.99255,1.997904,0.998845,0.998927,4.991109,2.993176,...,0.997199,0.997199,0.997199,0.998061,0.998061,0.998061,0.998061,0.998061,0.998061,0.998061

In [23]:
# Step 5  Recommendation based on the item priority-------------------------------------------

# Extracting Recommendable Items - Items that are not present in target user rated list

for i in P_I.columns:
    if (i in L_u):
        P_I.drop(i , inplace = True , axis =1)

P_I = P_I.T  # Transpose of matrix

P_I =P_I.sort_values("Item Priority" , ascending = False)  # Sorting the list

# Taking Top -10 Recommendations

Recommended_Items = P_I.head(10).index.tolist()

print(" Top 10 Recommended items for user",u,"are given below-")
print(Recommended_Items)

 Top 10 Recommended items for user 2 are given below-
[51, 993, 1001, 157, 187, 1014, 159, 1019, 997, 999]